.unity filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
*.res filter=lfs diff=lfs merge=lfs -text
level2.resS filter=lfs diff=lfs merge=lfs -text
sharedassets2.assets filter=lfs diff=lfs merge=lfs -text
sharedassets2.assets.resS filter=lfs diff=lfs merge=lfs -text
*.RESS filter=lfs diff=lfs merge=lfs -text
*.assets filter=lfs diff=lfs merge=lfs -text
